<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Cho Android 9 trở xuống -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Cho Android 10 trở lên: cho phép truy cập bộ nhớ theo phạm vi -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentManagement">
        <activity
            android:name=".EditStudentActivity"
            android:exported="false" />
        <activity
            android:name=".AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ViewLoginHistory"
            android:exported="false" />
        <activity
            android:name=".EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ManageStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ManageUserActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>